.hiSlider-SliderApp .erisHControl {
  position: relative;
  padding: 10px 0px;
  margin: 5px 0;
  overflow: hidden;
}

.hiSlider-SliderApp .erisHControlPanel {
  position: absolute;
  display: none;
  overflow: hidden;
  z-index: 10;
  top: 0px;
  padding: 0px;
  -webkit-transition: left 1000ms ease, top 1000ms ease;
  -moz-transition: left 1000ms ease, top 1000ms ease;
  -ms-transition: left 1000ms ease, top 1000ms ease;
  -o-transition: left 1000ms ease, top 1000ms ease;
  transition: left 1000ms ease, top 1000ms ease;
}

.hiSlider-SliderApp .erisHControlPanel:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0px;
  clear: both;
}

.hiSlider-SliderApp .erisHControlPanel>.controlPanelBackground {
  background-color: #000000;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.hiSlider-SliderApp .erisPlayButton {
  position: relative;
  float: left;
  background-color: transparent;
  background-position: 0px 0px;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.hiSlider-SliderApp .erisPlayButton:hover {
  background-position: 0px -64px;
}

.hiSlider-SliderApp .erisPauseButton {
  position: relative;
  float: left;
  background-color: transparent;
  background-position: -64px 0px;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.hiSlider-SliderApp .erisPauseButton:hover {
  background-position: -64px -64px;
}

.hiSlider-SliderApp .erisFullScreenButton {
  position: relative;
  float: left;
  background-color: transparent;
  background-position: 0px 0px;
  width: 64px;
  height: 64px;
  cursor: pointer;
  display: inline-block;
}

.hiSlider-SliderApp .erisFullScreenButton:hover {
  background-position: 0px -64px;
}

.hiSlider-SliderApp .erisControlButton {
  position: relative !important;
  display: block !important;
  visibility: visible !important;
  left: auto !important;
  top: auto !important;
  float: left;
  background-color: transparent;
  height: 64px !important;
  width: 64px !important;
  max-width: 0px;
  margin: 0px;
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.hiSlider-SliderApp .erisHControl>.prevButton, .erisHControl>.nextButton {
  cursor: pointer;
  display: block;
  position: relative;
}

.hiSlider-SliderApp .erisHControl>.prevButton {
  float: left;
}

.hiSlider-SliderApp .erisHControl>.nextButton {
  float: right;
}

.hiSlider-SliderApp .erisHControl>.infoPanel {
  margin: 0px 30px;
  text-align: center;
  position: relative;
}

.hiSlider-SliderApp .erisHControl>.infoPanel>.title {
  letter-spacing: 1px;
  display: block;
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
  overflow: hidden;
}

.hiSlider-SliderApp .erisHControl>.infoPanel>.desc {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  overflow: hidden;
}
