.hiSlider-SliderApp .erisHThumbContainer {
  position: relative;
  clear: both;
  margin: 2px 0;
}
.hiSlider-SliderApp .erisHThumbContainer>.thumbCover {
  position: relative;
  overflow: hidden;
}
.hiSlider-SliderApp .erisHThumbContainer>.thumbCover>.thumbs {
  height: 100%;
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  left: 0px;
  top: 0px;
}
.hiSlider-SliderApp .erisHThumbContainer>.thumbCover>.thumbs:after {
  content: ".";
  height: 0;
  clear:both;
  display: block;
  visibility: hidden;
}
.hiSlider-SliderApp .erisHThumbContainer>.thumbCover>.thumbs>li {
  cursor: pointer;
  position: absolute;
  overflow: hidden;
}
.hiSlider-SliderApp .erisHThumbContainer>.thumbCover>.thumbs>li img {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.hiSlider-SliderApp .erisHThumbContainer>.thumbCover>.thumbs>li>div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}
.hiSlider-SliderApp .erisHThumbContainer>.thumbCover>.thumbs>li>.hiEHImgContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
  z-index: 0 !important;
}
.hiSlider-SliderApp .erisHThumbContainer>.prevButton, .erisHThumbContainer>.nextButton {
  width: 64px;
  height: 64px;
  text-indent: -9999em;
  text-decoration: none;
  cursor: pointer;
  display: block;
  position: relative;
}

.hiSlider-SliderApp .erisHThumbContainer>.prevButton {
  background-position: 0px -128px;
  margin: 0px;
  float: left;
}

.hiSlider-SliderApp .erisHThumbContainer>.nextButton {
  background-position: -64px -128px;
  margin: 0px;
  float: right;
}
