/*virtual medical*/
@media screen and (max-width: 600px) {
  #logo1{
    display: none;
  }
  #hislider1{
  	top:80px;
  }
}
#hislider1{

width: 100%; 
height:600px; 
position: relative;
top: 55px; 
margin: 0 auto;
}

.navbar-header .navbar-brand{
color:#F08080;
font-size: 20px;
padding-top: 20px;
position: relative;
left: -15px;
padding-right: 40px;
}
.media .row{
	padding-top: 50px;
	background-color: #87CEFA;
	padding-bottom: 50px;
}
.media .row{
	position: relative;
	bottom: -180px;
}
.media .container{
	position: relative;
	z-index: -1000px;
}

.col-sm-4 a:hover {
    opacity: 0.4;
}

