.titre{
		text-align: center;
		color: #5F9EA0;
		
}

#H2{
	color:#236B8E;
	font-family: Verdana;
	font-size: 40;
	font-weight: bold;
}

#head{
	background-color: #00FFFF
	color:yellow;
	width: 100%;
	height: 20px;
	text-align: center;
}

.symptoms{

	background-color: rgba(240, 255, 255,0.5);
	text-align: center;
	margin-bottom: 2%;
}

#startleft{
	background-color: rgba(240, 255, 255,0.5);
	text-align: center;
	margin-bottom: 2%;
}